<!doctype html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>

    <div class="container main-container">
      <h1>Página principal</h1>
      <div class="form-container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi inventore voluptatum error, fuga sed ex! Libero, fugit? Nobis in rerum dignissimos, quisquam aspernatur accusamus error molestiae perspiciatis dolore ea quibusdam.</p>
        <form action="">
          <div class="group">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" class="control">
            <div class="feedback">Nuesto error</div>
          </div>
          <div class="group">
            <label for="lastname">Apellido</label>
            <input type="text" name="lastname" id="lastname" class="control invalid">
            <div class="feedback">Nuesto error</div>
          </div>
        </form>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>